.Board {
  margin: 16px auto;
  max-width: 760px;
  &:focus {
    outline: 0;
  }
  &-cells {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &-actions {
    margin: 32px 0;
    display: flex;
    justify-content: center;
  }
}