.Board {
  margin: 16px;
  &:focus {
    outline: 0;
  }
  &-inputWrapper {
    letter-spacing: .5px;
    font-weight: bold;
    line-height: 1.25;
    height: 1.25em;
    width: 100%;
    font-size: 2em;
    padding-top: 2px;
    text-align: center;
    margin: 32px 0;
  }
  &-input {
    text-transform: uppercase;
    height: 100%;
    display: inline-block;
    position: relative;
    min-width: 1px;
    text-align: center;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: -4px;
      width: 2px;
      height: 1.25em;
      background: #f7da21;
      animation: 1000ms blink step-end infinite;
    }
  }
  &-inputLetter--invalid {
    color: #dcdcdc;
  }
  &-cells {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &-actions {
    margin: 32px 0;
    display: flex;
    justify-content: center;
  }
}

@keyframes blink {
  from,to {
      opacity: 1
  }

  50% {
      opacity: 0
  }
}