$hexColor--idle: #e6e6e6;
$hexColor--hover: #d9d9d9;
$hexColor--active: #c5c5c5;
$hexX: 30px;
$hexY: 52px;

.Cell {
  position: relative;
  margin: 2px calc(#{$hexX} + 2px);
  cursor: pointer;
  transition: transform 100ms;
  &-hex {
    &:before {
      content: "";
      width: 0;
      height: 0;
      border-right: $hexX solid $hexColor--idle;
      border-top: $hexY solid transparent;
      border-bottom: $hexY solid transparent;
      position: absolute;
      left: calc(#{$hexX} * -1);
      &:hover {
        border-right: $hexX solid $hexColor--hover;
      }
    }
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(#{$hexX} * 2);
    height: calc(#{$hexY} * 2);
    background-color: $hexColor--idle;
    position: relative;
    &:hover {
      background-color: $hexColor--hover;
    }
    &:after {
      content: "";
      width: 0;
      position: absolute;
      right: calc(#{$hexX} * -1);
      border-left: $hexX solid $hexColor--idle;
      border-top: $hexY solid transparent;
      border-bottom: $hexY solid transparent;
      &:hover {
        border-left: $hexX solid $hexColor--hover;
      }
    }
  }
  &:hover &-hex {
    &:before {
        border-right: $hexX solid $hexColor--hover;
    }
    background-color: $hexColor--hover;
    &:after {
      border-left: $hexX solid $hexColor--hover;
    }
  }
  &:active {
    transform: scale(0.9);
    &-hex {
      &:before {
          border-right: $hexX solid $hexColor--active;
      }
      background-color: $hexColor--active;
      &:after {
        border-left: $hexX solid $hexColor--active;
      }
    }
  }
  &-letter {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2em;
  }
}