$hexColor--notRequiredIdle: #e6e6e6;
$hexColor--notRequiredHover: #d9d9d9;

$hexColor--requiredIdle: #f7da21;
$hexColor--requiredHover: #f6d609;

$hexColor--idle: var(--hexColor-idle);
$hexColor--hover: var(--hexColor-hover);

$hexX: 30px;
$hexY: 52px;

$hexMargin: 2px;

.Letter {
  cursor: pointer;
  position: relative;
  margin: $hexMargin calc(#{$hexX} + #{$hexMargin});
  transition: transform 100ms;
  &-hex {
    // Redefining CSS variables depending on class
    // We then use those CSS variables as the value for sass variables
    --hexColor-idle: #{$hexColor--notRequiredIdle};
    --hexColor-hover: #{$hexColor--notRequiredHover};
    &--isRequired {
      --hexColor-idle: #{$hexColor--requiredIdle};
      --hexColor-hover: #{$hexColor--requiredHover};
    }
    &:before {
      content: "";
      width: 0;
      height: 0;
      border-right: $hexX solid $hexColor--idle;
      border-top: $hexY solid transparent;
      border-bottom: $hexY solid transparent;
      position: absolute;
      left: calc(#{$hexX} * -1);
    }
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(#{$hexX} * 2);
    height: calc(#{$hexY} * 2);
    background-color: $hexColor--idle;
    position: relative;
    &:after {
      content: "";
      width: 0;
      position: absolute;
      right: calc(#{$hexX} * -1);
      border-left: $hexX solid $hexColor--idle;
      border-top: $hexY solid transparent;
      border-bottom: $hexY solid transparent;
    }
  }
  &:hover &-hex {
    &:before {
      border-right-color: $hexColor--hover;
    }
    background-color: $hexColor--hover;
    &:after {
      border-left-color: $hexColor--hover;
    }
  }
  &:active {
    transform: scale(0.9);
  }
  &-letter {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2em;
  }
}